<div class="callout callout--primary">
    <div class="grid grid--col-2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started!</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reiciendis eaque totam ipsa. Nisi, alias odio reprehenderit ad temporibus laboriosam nihil maxime molestiae sapiente. Ut porro exercitationem explicabo numquam eaque!
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--streched">Get Started</a>
    </div>
  </div>